<div class="row justify-content-center">
    <app-header [pageTitle]="pageTitle" [subTitle]="subTitle"></app-header>
    <table class="table table-sm table-responsive col-auto" id="createnew">
        <tr>
            <th>Id</th>
            <td><Input [(ngModel)]="meal.id" type="number" disabled ngDefaultControl></td>
        </tr>
        <tr>
            <th>Meal Name</th>
            <td><Input [(ngModel)]="meal.name" ngDefaultControl></td>
        </tr>
        <tr>
            <th>Type of Meal</th>
            <td><Input [(ngModel)]="meal.type" ngDefaultControl></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><Input [(ngModel)]="meal.description" ngDefaultControl></td>
        </tr>
        <tr>
            <th>Cook Time</th>
            <td><Input [(ngModel)]="meal.cookTime" ngDefaultControl><span id="note1">*Time in hours</span></td>     
        </tr>
        <tr>
            <th>Cook Type</th>
            <td>
                <select id="cookTypeSelect" [(ngModel)]="meal.cookType">
                    <option>Stove Top</option>
                    <option>Oven</option>
                    <option>Grill</option>
                    <option>Other</option>
                </select>
            </td>
        </tr>
        

            <!-- <td><Input [(ngModel)]="meal.cookType" ngDefaultControl ></td> -->
        <!-- </tr> -->
    </table>
    <table class="table table-sm">
        <tr>
            <th></th>
            <td id="tdButton">
                <button id="createBtn" (click)="add()" class="btn btn-primary">Add Meal</button>
            </td>
        </tr>
    </table>
</div>

