table {
    width: 80%;
    margin-top: 2%;
    margin-left: 5%;
}
.table-hover tbody tr:hover{
    background-color: rgba(3, 145, 167, 0.171);
}
#uBtn{
    text-decoration: none;
    color: black;
}
#createBtn{
    padding: 0px 20px;
    color:black;
    border-color: white;
    border-style: outset;
    font-size: small;
}
#createBtn:hover{
    color: black;
    background-color: rgba(11, 113, 129, 0.479);
}
tbody{
    cursor:pointer;
}
.tableNote{
    font-size: large;
    padding-left: 30%;
}

