<div>
    <div class="sideMenu">
        <app-menu></app-menu>
    </div>
    <div class="mainDiv">
        <app-header [pageTitle]="pageTitle" [subTitle]="subTitle"></app-header>
        <table>
            <button class="btn btn-outline-info" id="createBtn" (click)="create()">Add New Member</button>
            <tr>&nbsp;</tr>
            <tr>
                <td class="tableNote">*You may click on a family member to update the info or remove the profile.</td>
            </tr>
        </table>
        <table class="table table-sm table-hover table-responsive col-auto" id="usertable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Favorite Food?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mem of members">
                    <td (click)="details(mem.id)"><button id="uBtn" class="btn btn-link" (click)="details(mem.id)">{{mem.id}}</button></td>
                    <td (click)="details(mem.id)"><button id="uBtn" class="btn btn-link" (click)="details(mem.id)">{{mem.name}}</button></td>
                    <td (click)="details(mem.id)"><button id="uBtn" class="btn btn-link" (click)="details(mem.id)">{{mem.favorite}}</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    