<div>
    
    <app-header [pageTitle]="pageTitle" [subTitle]="subTitle"></app-header>
    <main>
    <button id="cancelB" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
    <table class="table table-sm table-responsive col-auto" id="createnew">
        <tr>
            <th>Id</th>
            <td><Input [(ngModel)]="ing.id" type="number" disabled ngDefaultControl></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><Input [(ngModel)]="ing.name" ngDefaultControl></td>
        </tr>
        <tr>
            <th>Amount</th>
            <td><Input [(ngModel)]="ing.amount" ngDefaultControl></td>
        </tr>
        <tr>
            <th>Notes</th>
            <td><Input [(ngModel)]="ing.notes" ngDefaultControl></td>
        </tr>
        <tr>
            <th>Meal</th>
            <td><Input [(ngModel)]="meal.name" ngDefaultControl disabled></td>
        </tr>
    </table>
    <table class="table table-sm">
        <tr>
            <th></th>
            <td id="tdButton">
                <button id="createBtn" (click)="add()" class="btn btn-primary">Add Ingredient</button>
            </td>
        </tr>
    </table> 
    </main>
</div>


