#MenuName {
    display: inline-table;
    font-size: larger;
    margin-top: 15%;
    text-decoration: none;
    color: black;
    /*width: 10%;*/
}
#MenuName:hover{
    color: green;
}
nav{
    width: 90%;
    height: 100% !important;
    margin-left: 10%;
}
ul {
    background-color: rgba(212, 223, 235, 0.404); /* 213, 222, 231 */
    border-radius: 10%;
    height: 100%;
    padding-inline-start: 20px;
    padding-top: 10%;
}
tr, td {
    border-color: rgb(133, 168, 189) !important;
    width: 13%;
    margin-left: 5%;
}



