#MenuName {
    display: inline-table;
    font-size: larger;
    margin-top: 15%;
    text-decoration: none;
    color: black;
    /*width: 10%;*/
}
#MenuName:hover{
    color: green;
}
#menuTable {
    border-style:dashed;
    border-color: rgb(129, 128, 128) !important;
    width: 70%;
    
}



