<div id="users" class="row justify-content-center">
    <app-header [pageTitle]="pageTitle" [subTitle]="subTitle"></app-header>
    <table>
        <a routerLink="/user/create" id="create">Add Member</a>
        <span id="note">*You can click on a family member to update or delete.</span>
        <!-- <tr><td>
        <button class="btn btn-info" id="create" (click)="create()">Add Member</button>
        </td></tr> -->
    </table>
    <table class="table table-sm table-hover table-responsive col-auto" id="usertable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Favorite Food?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td><button id="uBtn" class="btn btn-link" (click)="details(u.id)">{{u.id}}</button></td>
                <td><button id="uBtn" class="btn btn-link" (click)="details(u.id)">{{u.username}}</button></td>
                <td><button id="uBtn" class="btn btn-link" (click)="details(u.id)">{{u.favorite}}</button></td>
            </tr>
        </tbody>
    </table>
</div>
