li {
    display: block;
    padding-top: 8%;
}
a{
    text-decoration: none;
    padding: 0px 8px;
    color: white;  /* rgb(51, 90, 92) */
    background-color: rgb(4, 99, 136); /* rgb(9, 139, 139) */
    font-size: medium;
    font-style: italic;
    border-style: outset;
    border-color: rgb(15, 135, 151);
    border-radius: 20%;
    
}
a:hover{
    color: black; /*rgb(114, 183, 214); */
    background-color: rgb(13, 131, 199);
    border-color: rgb(250, 250, 250);
}
