#pagetitle{
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: bold;
    font-style: italic;
    padding-left: 50%;
    color:rgb(73, 124, 126);
}
#subtitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
    color: rgb(73, 124, 126);
    padding-left: 1%;
    padding-bottom: 1%;
    margin-top: 12%;
}
#headMenu{
    display: inline-table;
    width: 15%;
}
#titleMenu{
    display: inline-table;
    width: 50%;
    margin-top: 3%;
    margin-left: 4%;

}

