/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Times New Roman', Times, serif;
}
input, select {
    border-radius: 10px;
}
html {
    background-image: url(/assets/background1.jpg);
}
.sideMenu{
        display: inline-block;
        width: 13%;
        height: 200px; 
        margin-top: 2%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainDiv{
    display: inline-block;
    width: 85%;
}
header{
    width: 70%;
}
tbody{
    cursor: pointer;
}
