#updateTable{
    width: 60% !important;
    margin-left: 20%;
}
#tdButtonUp{
    width: 30%;
    padding-top: 20px;
    
}
#tdButtonRem{
    width: 50%;
    padding-top: 20px;
    padding-left: 10%;
    
}
#updateBtnTable{
    display: inline-table;
    margin-left: 0%;
}
#removeBtn{
    color: black;
    padding: 0px 30px;
    border-color: rgb(134, 4, 4);
}
#updateBtn{
    color: black;
    padding: 0px 20px;
    border-color: rgba(11, 113, 129, 0.479);
    border-style: outset;
}
#updateBtn:hover{
    color: black;
    background-color: rgba(11, 113, 129, 0.479);
}
