<div>
    <app-header [pageTitle]="pageTitle" [subTitle]="subTitle"></app-header>
    <main>
        <table class="table table-sm" id="updateTable" *ngIf="user">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td><input [(ngModel)]="user.id" type="number" disabled ngDefaultControl></td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td><input [(ngModel)]="user.username" ngDefaultControl></td>
                </tr>
                <tr>
                    <th>Favorite</th>
                    <td>
                        <!-- <input [(ngModel)]="user.favorite" ngDefaultControl> -->
                        <select id="mealsList" [(ngModel)]="user.favorite" ngDefaultControl>
                            <option *ngFor="let m of meals" [ngValue]="m.name">{{m.name}}</option>
                        </select>
                        <span id="Note">*choose from already entered meals</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm" id="updateBtnTable">
            <tr>
                <th></th>
                <td id="tdButtonUp">
                    <button id="updateBtn" (click)="update()" class="btn btn-info">Update Member</button>
                </td>
                <td id="tdButtonRem">
                    <button id="removeBtn" (click)="remove()" class="btn btn-danger">Remove</button>
                    <span *ngIf="showVerifBtn" id="tdButtonRem">
                        <button id="removeBtn" (click)="verifyRemove()" class="btn btn-danger">Please Confirm this Delete</button>
                    </span>
                </td>
            </tr>
        </table>
    </main>
</div>
