table{
    width: 70% !important;
    margin-left: 5%;
    margin-top: 1%;
}
.table-hover tbody tr:hover{
    background-color: rgba(3, 145, 167, 0.171);
}
#uBtn{
    text-decoration: none;
    color: black;
}
#noteTable{
    margin-left: 40%;
}
