<div>
    <div class="sideMenu">
        <app-menu></app-menu>
    </div>
    <div class="mainDiv">
    <app-header [pageTitle]="pageTitle" [subTitle]="subTitle"></app-header>
    <table class="table table-sm" id="noteTable">
        <tr class="tableNote">*You may click on an ingredient to update it or delete it.</tr>
        <tr class="tableNote">*Please Note: Ingredients are added via the Meal details</tr>
    </table>
    <table class="table table-sm table-hover table-responsive col-auto" id="ingTable" *ngIf="ings">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Measurement</th>
                <th>Notes</th>
                <th>Meal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of ings">
                <td (click)="details(i.id)"><button id="uBtn" class="btn btn-link" (click)="details(i.id)">{{i.id}}</button></td>
                <td (click)="details(i.id)"><button id="uBtn" class="btn btn-link" (click)="details(i.id)">{{i.name}}</button></td>
                <td (click)="details(i.id)"><button id="uBtn" class="btn btn-link" (click)="details(i.id)">{{i.amount}}</button></td>
                <td (click)="details(i.id)"><button id="uBtn" class="btn btn-link" (click)="details(i.id)">{{i.notes}}</button></td>
                <td (click)="details(i.id)"><button id="uBtn" class="btn btn-link" (click)="details(i.id)">{{i.mealId}}</button></td>
            </tr>
        </tbody>
    </table>
</div>
