<div class="row justify-content-center">
    <app-header [pageTitle]="pageTitle" [subTitle]="subTitle"></app-header>
    <table>
        <a routerLink="/user/create" id="create">Add Ingredient</a>
        <span id="note">*You can click on an ingredient to update or delete.</span>
    </table>
    <table class="table table-sm table-hover table-responsive col-auto" id="ingTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Measurement</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of ings">
                <td><button id="uBtn" class="btn btn-link" (click)="details(i.id)">{{i.id}}</button></td>
                <td><button id="uBtn" class="btn btn-link" (click)="details(i.id)">{{i.name}}</button></td>
                <td><button id="uBtn" class="btn btn-link" (click)="details(i.id)">{{i.amount}}</button></td>
                <td><button id="uBtn" class="btn btn-link" (click)="details(i.id)">{{i.notes}}</button></td>
            </tr>
        </tbody>
    </table>
</div>
