<div>
    <app-header [pageTitle]="pageTitle" [subTitle]="subTitle"></app-header>
    <div>
        <span id="note">*You can click on the meal to update it or click the button.</span>
    </div>
    <div id="meal-detail">
    <table class="table table-sm table-responsive table-hover" id="mealTable">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Name</th>
                <th>Type</th>
                <th>Cook Time</th>
                <th>Cook Temp</th>
                <th>Cook Type</th>
                <!-- <th>Description</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="meal">
                <!-- <td><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.id}}</button></td> -->
                <td><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.name}}</button></td>
                <td><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.type}}</button></td>
                <td><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.cookTime}}</button></td>
                <td><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.cookTemp}}</button></td>
                <td><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.cookType}}</button></td>
                <!-- <td><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.description}}</button></td> -->
            </tr>
        </tbody>
    </table>
    <div id="updateMealBtn">
        <button class="btn btn-outline-secondary" id="updateBtn" (click)="update(meal.id)">Update Meal</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-secondary" id="printBtn" (click)="print()">Printable Version</button>
    </div>
    <br>
    <h4 id="IngTitle">Ingredients</h4>
    <br>
    <div>
        <table class="table table-sm table-responsive table-hover" id="ingTable">
            <thead>
                <tr>
                    <!-- <th>Id</th> -->
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="meal">
                    <tr *ngFor="let ing of meal.ingredients">
                        <!-- <td>{{ing.id}}</td> -->
                        <td>{{ing.name}}</td>
                        <td>{{ing.amount}}</td>
                        <td>{{ing.notes}}</td>
                    </tr>
                    <tr id="addIng">
                        <button id="addIngBtn" class="btn btn-outline-secondary" (click)="addIng()">Add Ingredient</button>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    </div>
</div>
