<div>
<div class="sideMenu">
    <app-menu></app-menu>
</div>
<div class="mainDiv">
    <app-header [pageTitle]="pageTitle" [subTitle]="subTitle"></app-header>
    <table class="table table-sm table-responsive col-auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Cook Time</th>
                <th>Cook Temp</th>
                <th>Cook Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="meal" id="mealrow">
                <td (click)="update(meal.id)"><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.name}}</button></td>
                <td (click)="update(meal.id)"><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.type}}</button></td>
                <td (click)="update(meal.id)"><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.cookTime}}</button></td>
                <td (click)="update(meal.id)"><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.cookTemp}}</button></td>
                <td (click)="update(meal.id)"><button id="uBtn" class="btn btn-link" (click)="update(meal.id)">{{meal.cookType}}</button></td>
            </tr>
            <tr>
                <td class="tableNote" colspan="5" id="note">
                    *You may click on the meal to update it or click the update meal button.
                </td>
            </tr>
            <tr>&nbsp;</tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button class="btn btn-outline-secondary" id="updateBtn" (click)="update(meal.id)">Update Meal</button>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a [routerLink]="['/meal/print', this.meal.id]" target="_blank">
                    <button class="btn btn-outline-secondary" id="printBtn" >Printable Version</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-responsive table-hover">
        <thead>
            <tr>
                <br>
                <h4 id="IngTitle">Ingredients</h4>
                <br>
            </tr>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="meal">
                <tr *ngFor="let ing of meal.ingredients">
                    <td (click)="updateIng(ing.id)"><button id="uBtn" class="btn btn-link" (click)="updateIng(ing.id)">{{ing.name}}</button></td>
                    <td (click)="updateIng(ing.id)"><button id="uBtn" class="btn btn-link" (click)="updateIng(ing.id)">{{ing.amount}}</button></td>
                    <td (click)="updateIng(ing.id)"><button id="uBtn" class="btn btn-link" (click)="updateIng(ing.id)">{{ing.notes}}</button></td>
                </tr>
                <tr id="addIng">
                    <button id="addIngBtn" class="btn btn-outline-secondary" (click)="addIng()">Add Ingredient</button>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <table *ngIf="meal" id="cookDescTable">
        <br>
            <h4 id="IngTitle">Cooking Description</h4>
            <tr id="rowCookNotes">
                <td>
                    <textarea id="cookNotes" disabled>{{meal.cookNotes}}</textarea>
                </td>
            </tr>
        </table>
    </div> 
</div>
