/* side menu and main div are styled in the main style.css */
table {
    margin-left: 5%;
    width: 65%;
    border-bottom: hidden;
    border-color: rgba(255, 255, 255, 0.384);
}
#mealrow:hover{
    background-color: rgba(3, 145, 167, 0.171);
}
#uBtn{
    text-decoration: none;
    color: black;
}
#updateBtn{
    padding: 0px 20px;
    color:black; /* rgb(34, 100, 102) */
    border-color: whitesmoke;
    border-style: outset;
}
#updateBtn:hover{
    color: black;
    background-color: rgba(11, 113, 129, 0.479);
}
#printBtn{
    padding: 0px 15px;
    color:black;
    border-color: whitesmoke;
    border-style: outset;
}
#printBtn:hover{
    color: black;
    background-color: rgba(11, 113, 129, 0.479);
}

#IngTitle{
    font-style: italic;
    display: inline-table;
    width: 50%;
    color: rgb(73, 124, 126);
}
#note{
    padding-left: 40%;
    color: rgb(25, 95, 97);
    font-style: italic;
}
#addIngBtn{
    padding: 0px 15px;
    margin-top: 3%;
    color: black;
    background-color: rgb(235, 234, 234);
    border-style: outset;
}
#addIngBtn:hover{
    background-color: rgba(11, 113, 129, 0.479);
    /*background-color: rgb(124, 123, 123);*/
    color: black;
}
#cookDescTable{
    margin-top: 2%;
}
#cookNotes{
    border-color: grey;
    height: 200px;
    width: 90%;
    resize: none;
    color: black;
}
textarea{
    border: solid 1px white !important;
}
thead{
    color: rgba(15, 56, 94, 0.973);
}
tbody{
    cursor: pointer;
}

