#IngTitle{
    font-style: italic;
    display: inline-table;
    width: 50%;
    margin-left: 19.5%;
    color: rgb(73, 124, 126);
}
#updateBtn{
    padding: 0px 50px;

}
#updateMealBtn{
    text-align: center;
}
#uBtn{
    text-decoration: none;
    color: black;
}
.table-hover tbody tr:hover{
    background-color: rgb(209, 247, 253);
}
#mealTable{
    margin-left: 20%;
    width: 60%;
}
#ingTable{
    margin-left: 20%;
    width: 60%;
}
#note{
    padding-left: 55%;
    color: rgb(25, 95, 97);
    font-style: italic;
}